@charset "utf-8";
/* CSS Document */
* {
	padding:0;
	margin:0;
}
ul,li{ list-style:none;}
body {
	background:url(images/tex_036.png);
}
#top {
	background:#c2965c;
	height: 40px;
	text-align: right;
	line-height: 40px;
	padding-right:20px;
	color: white;
	font-size: 13px;
}
#top a {color: #3a8d00;}
#footer {
	background:url(images/footer_bg.png) repeat-x;
	height: 103px;
	width:100%;
	position: fixed;
	bottom: 0;
}
#logo {
	margin: 25px 0;
}
#sidebar {
	background:url(images/sidebar_bg.png) repeat-y;
	width: 206px;
	text-align: center;
position: absolute;
bottom: 0;
top: 40px;
left: 0;
}
#menu ul{ display:none;}
#menu .active {
	display:block;
}


#menu_1 > a,
#menu_2 > a,
#menu_3 > a,
#menu_4 > a,
#menu_5 > a,
#menu_6 > a {
	text-indent: -9999px;
	display:block;
}

#menu ul a { color:#9e7236; font-size: 13px; text-decoration: none;}
#menu ul li { line-height: 2;}
#menu ul li a:hover { color:#3a8d00;}
#menu_1 {
	background:url(images/menu_1.png) no-repeat 0 0;
	width: 130px;
	line-height: 41px;
	margin: 0 auto;
}
#menu_2 {
	background:url(images/menu_2.png) no-repeat 0 0;
	width: 130px;
	line-height:41px;

	margin: 0 auto;
}
#menu_3 {
	background:url(images/menu_3.png) no-repeat 0 0;
	width: 130px;
	line-height: 41px;

	margin: 0 auto;
}
#menu_4 {
	background:url(images/menu_4.png) no-repeat 0 0;
	width: 130px;
	line-height: 41px;

	margin: 0 auto;
}
#menu_5 {
	background:url(images/menu_5.png) no-repeat 0 0;
	width: 130px;
	line-height: 41px;

	margin: 0 auto;
}
#menu_6 {
	background:url(images/menu_6.png) no-repeat 0 0;
	width: 130px;
	line-height: 41px;

	margin: 0 auto;
}
#menu_1:hover {
	background:url(images/menu_1_h.png) no-repeat 0 0;
}
#menu_2:hover {
	background:url(images/menu_2_h.png) no-repeat 0 0;
}
#menu_3:hover {
	background:url(images/menu_3_h.png) no-repeat 0 0;
}
#menu_4:hover {
	background:url(images/menu_4_h.png) no-repeat 0 0;
}
#menu_5:hover {
	background:url(images/menu_5_h.png) no-repeat 0 0;
}
#menu_6:hover {
	background:url(images/menu_6_h.png) no-repeat 0 0;
}



#main {
padding-top: 25px;
width: 800px;
margin: 0 auto;
padding-left: -100px;
margin-bottom: 200px;
}


#search_bar {
	margin: 10px 0;
}
select, input {
padding-left: 10px;
color: #666;
}
input {
	border: 1px solid #aaa;
}

table {
		color: #666;
    
    line-height: 1.5;
    font-size: 13px;
    background: white;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #a17145;
	text-align: left;
}
th {
	color: white;
	font-weight: normal;
	text-shadow: 0 1px 3px #999;
	background: #c2965c;
}
tr:nth-child(odd) {
background: #FFC;
}

.btn,
button,
input[type="submit"],
input[type="button"] {
display:inline-block;
background: #3a8d00;
color: #fff;
text-decoration: none;
padding: 5px 10px;
border-radius: 10px;
font-size: 13px;
border: none;
outline: none;
cursor:pointer;
}
